.main {
  background-color: #272727;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1400px;
  max-width: 100%;
  color: white;
}

.title {
  font-size: 2rem;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 30px;
}

.cardContainer {
  width: 100%;
}

.bannerContainer {
  background-color: #323232;
  color: white;
  width: 100%;
}

.bgIcon {
  height: 200px;
}
